/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Reset & base styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* General style */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}
/* Header */
header {
  background-color: black;
  background-image: url('../images/podcast-banner.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  position: relative; }

  h1#logo {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: white; 

}
/* Main */
main {
    background-color: #f9f9f9;
    /* Make main element take up any surplus sapce to push footer down*/
  flex: 1 0 auto;

}
/* Footer */
footer {
    background-color: #211702;
}